<style>
body {
background-image: url("background.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: 1300px 1000px;
background-color: black;
}
</style>
{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block header %}
Login
{% endblock header %}

{% block body %}
<body>
<br><!--Make login options thing dive from top of screen slowly using javascript-->
<a href="../register">Register Page</a> <br>
<img src="background.jpg" alt="MoMoneyMoProblems" style="width:304px;height:228px;position: absolute; top: 150px; left: 300px"> 
     <form method="POST">
  <input type="text" class="form-control" style="width:300px" name="username"  placeholder="Username">
  <br>
   <input type="password" class="form-control" style="width:auto" name="password" placeholder="Password">
  <br>
  <input type="submit" class="btn btn-success">
  <br>
</form>
</div>
</div>
</body>
{% endblock body %}
